.navbar{
    background: linear-gradient( to bottom right, #28005d, #414e79  );
    backdrop-filter: blur(1rem);
    color: white;
    margin: 0;
    padding: 0;
    height: 10vh;
}
.navbar-brand img{
    width: 7rem !important;
}
.navbar-nav form{
    display: flex;
    flex-direction: row;
}
.navbar-nav button{
    margin-left: 1rem;
}
